In [20]:
import pandas as pd
df = pd.read_csv('sample_survey_results_public.csv')
cols_needed = ['Hobbyist','Age','ConvertedComp','Country','Employment','LanguageWorkedWith','WorkWeekHrs']
df = df[cols_needed]

In [21]:
result = df.groupby('Country').apply(lambda x: pd.Series({
    'NumResponded': len(x),
    'KnowsPython': x['LanguageWorkedWith'].str.contains('Python', na = False).sum(),
    'knowsJavaScript': x['LanguageWorkedWith'].str.contains('JavaScript', na = False).sum(),
    'KnowsJava': x['LanguageWorkedWith'].str.contains('Java', na = False).sum(),
    'ProgrammingAsHobby': (x['Hobbyist'] == 'Yes').sum(),
    'NumStudent': x['Employment'].str.contains('Student', na = False).sum(),
    'AverageAge': x['Age'].mean(),
    'AverageAnnualSalary(USD)': x['ConvertedComp'].mean(),
    'AverageWorkingWeekHours': x['WorkWeekHrs'].mean()
}))

result.to_csv('test.csv')

C:\Users\Nishat\AppData\Local\Temp\ipykernel_5836\1233781500.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.groupby('Country').apply(lambda x: pd.Series({

In [16]:
result

,NumResponded,KnowsPython,knowsJavaScript,KnowsJava,ProgrammingAsHobby,NumStudent,AverageAge,AverageAnnualSalary(USD),AverageWorkingWeekHours
Country,,,,,,,,,
Afghanistan,21.0,5.0,10.0,12.0,16.0,2.0,23.125000,52174.500000,43.200000
Albania,7.0,1.0,4.0,6.0,7.0,0.0,27.600000,13296.000000,47.500000
Algeria,24.0,13.0,15.0,18.0,17.0,6.0,26.363636,14400.000000,41.200000
Andorra,2.0,0.0,1.0,1.0,2.0,0.0,36.000000,NaN,50.000000
Angola,3.0,0.0,1.0,1.0,1.0,1.0,29.000000,5736.000000,9.000000
...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",19.0,9.0,14.0,16.0,15.0,2.0,31.466667,7482.785714,42.461538
Viet Nam,85.0,19.0,41.0,45.0,76.0,24.0,22.729730,22873.600000,42.120000
Yemen,2.0,0.0,2.0,2.0,2.0,0.0,35.000000,36000.000000,40.000000
Zambia,7.0,1.0,2.0,2.0,5.0,0.0,23.000000,1632.000000,40.000000
Zimbabwe,6.0,2.0,3.0,3.0,5.0,1.0,25.333333,90600.000000,39.000000